	label{
	   display:none;
	}
	input, textarea, .uneditable-input {
   		width: 934px;
    	margin-left: -19px;
	}
	button{
    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    	margin-left: 894px;
    	padding:4px;
    	margin-top: 4px;
	}
	